<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Footer template</title>
  </head>
  <body>
    <template>
      <footer class="site-footer h-card">
        <data class="u-url" value="https://albertmata.net/"></data>
        <div class="wrapper">
          <div class="footer-col-wrapper">
            <div class="footer-col footer-col-1">
              <ul class="contact-list">
                <li>Email:</li>
                <li>
                  hello <span class="footer-at-dot">at</span> albertmata <span class="footer-at-dot">dot</span> net
                </li>
              </ul>
            </div>
            <div class="footer-col footer-col-2">
              <ul class="social-media-list">
                <li>
                  <a href="https://github.com/almata" target="_blank" rel="me">
                    <svg class="footer-svg-icon" aria-hidden="true">
                      <use href="/assets/minima-social-icons.svg#github"></use>
                    </svg>
                    <span class="username">almata</span>
                  </a>
                </li>
                <li>
                  <a href="https://www.linkedin.com/in/almata" target="_blank" rel="me">
                    <svg class="footer-svg-icon" aria-hidden="true">
                      <use href="/assets/minima-social-icons.svg#linkedin"></use>
                    </svg>
                    <span class="username">almata</span>
                  </a>
                </li>
              </ul>
            </div>
            <div class="footer-col footer-col-3">
              <p>
                This website does not use cookies and does not collect personal data. Read
                <a href="/privacy/">Privacy</a> for more information. Built with plain HTML, CSS and JavaScript and
                hosted on <a href="https://pages.github.com">GitHub Pages</a>. Maintained with ♥ for the web.
              </p>
            </div>
          </div>
        </div>
      </footer>
    </template>
  </body>
</html>
